<style type="text/css">
  /* don't remove. */
  .about-cover {
    height: 75vh;
  }
</style>

<main class="content about-block">
  <div id="artDetail" class="container about-container">
    <div class="container">
      <p class="about-info" style="padding-top: 100px; font-size: 30px">
        隱私政策聲明
      </p>

      <div class="post-img row">
        <div class="img-bg"></div>
        <!-- <div class="quotation black">
                    <p class="white-text">                       
                        <p class="white-text q-content">關於比特幣 (Bitcoin)<br></p>                       
                    </p>
                </div> -->
      </div>

      <p class="about-info">        
        我們非常重視您的隱私。我們的網站不收集任何有關您的個人信息，如姓名、地址、電子郵件地址或電話號碼等。我們不會通過
        cookie 或其他技術跟踪您的網絡活動。
        儘管我們不收集任何個人信息，但我們可能會通過網站日誌收集一些匿名數據，例如您的瀏覽器類型和操作系統等信息。這些信息只用於統計和分析我們網站的流量，以及提高網站的性能和用戶體驗。
        請注意，我們的網站可能包含第三方鏈接，這些鏈接指向其他網站，我們無法控制這些網站的隱私政策。因此，我們建議您在訪問這些網站之前查看其隱私政策。
        如果您有任何關於我們的隱私政策的問題，請聯繫我們。
        <br />
        <br />
      </p>
    </div>
    <!-- <div class="col s12 m3 l3 social-link middle"><%- partial('_partial/social-link-white') %></div> -->
    <div class="col s12 m3 l3 social-link middle"></div>
  </div>
</main>
